.container header h1 {
    font-family:    PerforamaIt;
    color:          #6e7279;
    font-size:      18px;
    line-height:    37pt;
}


.main {
    margin-top: 220px;
}

.lang {
    width:          55px;
    background:     url('../images/first/lang_bg.png') no-repeat left;
    height:         90px;
    display:        block;
    margin-top:     45px;
    margin-left:    110px;
    float:          left;
}

.main .active {
    background-position: right;
}

.search {
    background:     url('../images/first/form_input_search.png') no-repeat;
    width:          965px;
    height:         185px;
    float:          left;
    margin-left:    28px;
    display:        block;
}

.search input[name="search"] {
    margin-top:     55px;
    margin-left:    25px;
    width:          700px;
    font-size:      18px;
}

.search input[type="submit"] {
    background:     url('../images/first/search_submit.png') no-repeat center center;
    display:        block;
    float:          right;
    width:          150px;
    height:         150px;
    margin:         20px 20px 0 0;
}

.exemple {
    margin-top:     36px;
    font-size:      18px;
    margin-left:    10px;
    font-family:    NeoItalic;
}

.exemple a {
    float:          left;
    display:        block;
    margin-left:    15px;
    margin-top:     2px;
    width:          17px;
    height:         19px;
    background:     url('../images/first/exemple_arrow.png') no-repeat;
}

.exemple .next,
.exemple a:last-child {background-position: bottom;}

.exemple span {
    float:          left;
    margin-left:    15px;
}

.exemple span:last-child {color:    #766958;}