.tabs {
    font-family:       'Times New Roman', Times, serif !important;
    float:                  right;

    padding-bottom:         7px;
    height:                 13px;
    margin-right:           20px;
    margin-bottom:      40px;
    padding-right:      25px;
}



.tabs li {
    float:      left;
    margin-right:   20px;
    cursor:     pointer;
    background-color:   #fff; 
    font-size:  18px;
    list-style: none;
    padding:                5px 15px;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
}

.current {
    background-color:   #fff8bf !important; 
    font-style:         italic ;
}

.main {
    height:             700px;
    clear:  both;
    font-weight:            normal;
    color:                  gray;
}

.main:last-child {
    margin-top: 0;
}

.support_block {
    text-align: center;
    padding:10px;
    margin: 0 auto;
    margin-top: 60px;
}

.support_block img {
    width:  auto;
    height: 100%;
    border: 8px solid #fff;
    -webkit-border-radius:          6px;
    -moz-border-radius:             6px;
    border-radius:                  6px;
}

.spoiler-wrap {
    background:             #fff url(../images/bg_article.jpg) repeat-x top;
    padding:                20px;
    margin-bottom:          40px;
    margin-right:           100px;
    font-seze:              16px;
    text-align:             left;
}

.spoiler-head {
    background:             url(../images/spoiler-head.jpg) 0 20px no-repeat;
    color:                  #f09d38;
    cursor:                 pointer;
    font-weight:            bold;
    min-height:             31px;
    position:               relative;
    font-size:              16px;
}

.spoiler-head span {
    background:             url(../images/+-.png) right top no-repeat;
    position:               absolute;
    display:                block;
    width:                  57px;
    height:                 31px;
    right:                  -60px;
    top:                    -20px;
}

.unfolded span {
    background-position:    bottom;
}

.spoiler-body {padding-top:  20px;}

.spoiler-body .alert {
    width:                  50%;
    border:                 1ps solid #676767;
    background:             #eaeaea;
    color:                  #2a6a96;
    font-size:              16px;
    display:                block;
    font-variant:           bold;
    padding:                10px;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
}

.spoiler-body .alert a {
    color:                  #216596;
    font-variant:           bold;
}