.rgb_name {
    margin-left:    96px;
    margin-top:     60px;
}

.search {
    background:     url('../images/output/search.png') no-repeat;
    width:          606px;
    height:         117px;
    float:          right;
    margin-right:   40px;
    margin-top:     -31px;
}

.search input[name="search"] {
    margin-top:     50px;
    margin-left:    18px;
    width:          447px;
    font-style:     italic;
    font-size:      18px;
}

.search input[type="submit"] {
    background:     url('../images/output/search_submit.png') no-repeat center center;
    display:        block;
    float:          right;
    width:          100px;
    height:         100px;
    margin:         10px 10px 0 0;
}

::-webkit-input-placeholder {color:#766958;}
:-moz-placeholder {color:#766958;}

.main {
    background:     #fff;
    padding:        25px 15px;
    width:          846px;
    margin-left:    30px;
    margin-top:     62px;
    margin-bottom:  20px;
    float:          left;
    position:       relative;
}

.main h2 {
    position:   absolute;
    top: -50px;
    font-size:  14px;
}

.main h2 span {font-size: 16px;}
    
article {
    clear:          both;
    font-size:      16px;
    margin-bottom:  25px;
    padding-bottom: 35px;
    font-family:    NeoItalic;
    font-weight:    bold;
    background:     url('../images/output/article_bottom.png') repeat-x bottom;
}

article q {
    clear:          both;
    padding:        10px 20px;
    display:        block;
    margin:         10px 0;
    margin-bottom:  0;
    font-weight:    normal;
    padding-left:   30px;
    background:     #fff8bf url('../images/output/article_q.png') no-repeat 10px 10px;
}

.pagination {
    margin-top:     20px;
    margin-left:    290px;
    clear:          both;
}

.pagination a {
    float:                  left;
    background-color:       #fff;
    padding:                5px 15px;
    padding-bottom:         7px;
    height:                 13px;
    margin-right:           20px;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
}

.pagination .active {background-color:   #fff8bf;}

.pagination a:first-child {
    background:         url('../images/output/pg_bg.png') no-repeat left top;
    background-color:   none;
    padding-left:       25px;
}

.pagination a:last-child {
    background:         url('../images/output/pg_bg.png') no-repeat right top;
    background-color:   none;
    padding-right:      25px;
}

aside {
    float:      right;
    width:      297px;
    margin-top: 40px;
}

aside div {
    clear:          both;
    margin-bottom:  20px;
}

aside div:last-child h2 {
    font-size: 18px !important;
    margin-top: 20px;
    padding-right:  40px;
}

aside div:last-child h2 span {
    font-size:16px;
}

aside div:last-child a {
    font-size:  18px;
    font-style:         italic ;
    font-weight:    bold;  
    margin-right:   40px;
}

aside h2 {
    background:         url('../images/output/aside_h2.png') no-repeat bottom left;
    padding-bottom:     10px;
    font-family:        NeoItalic;
    font-style:         italic ;
}

aside .cb,
.year {
    margin-left:    10px;
    font-weight:    bold;   
    font-size:      16px;
}

.year {
    font-style:  italic ;
    margin-left:    0;
    font-size:      14px;
}

.year input {
    background:             #fff;
    width:                  80px;
    padding:                2px 5px;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
    color:                  #6e7279;
}

.sb-custom {
    margin-left:    15px;
}