.main {
    position:   relative;
    display:    none;
}

.post_open {
    background:     #fff url(../images/output/post_open_bg_top.jpg) repeat-x top;
    clear:          both;
    position:       absolute;
    top:            248px;
    min-height:     670px;
    width:          100%;
-webkit-box-shadow: 0px -20px 20px 1px #cdced0;
-moz-box-shadow: 0px -20px 20px 1px #cdced0;
box-shadow: 0px -20px 20px 1px #cdced0;
}


.post_open article {
    margin:         30px;
    width:          757px;
    position:       relative;
    padding-bottom: 30px;
    float:          left;
}

.post_open aside {
    float:      right;
    width:      400px;
    margin-top: 100px;
}


.post_open aside h2 {
    font-size:  16px;
    width:      270px;
}

.post_open aside li {
    font-size:      14px;
    margin-bottom:  5px;
}

.pagination {
    position:       absolute;
    bottom:         -60px;
    margin-left:    30px;
}

.print_btn {
    padding:                14px 18px;
    right:                  80px;
    position:               absolute;
    bottom:                 -69px;
    background:             #d7d3b5;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
}

.close {
    position:       absolute;
    right:          50px;
    top:            -49px;
    display:        block;
    background:     url(../images/output/close_btn.png) no-repeat;
    width:          246px;
    height:         121px;
    font-weight:    bold;
    font-style:     italic;
    padding-left:   40px;
}

.close h2 {
    font-size:      16px;
    font-family:    NeoItalic;
}

.close a {
    display:        block;
    width:          177px;
    height:         42px;
    font-style:     normal;
    margin-top:     35px;
    text-align:     center;
    font-size:      16px;
    color:          #97936f !important;
    text-transform: uppercase;