.sb-custom {
  cursor: pointer;
  display: inline;
  position: relative;
  width:  100%;
}
.sparkbox-custom {
  display: none;
}
.no-js .sparkbox-custom {
  display: block;
}

.sb-select:focus {}
.sb-select {
  background: url('../images/select_bg.png') no-repeat center left;
  border: none;
  color: #fff;
  left: 0;
  font-size:    14px;
  font-weight:    bold;
  font-style:         italic ;
  padding: 5px 30px 5px 5px;
  position: relative;
  text-decoration: none;
  top: 0;
  width: 182px;
  z-index: 1;
}
.sb-dropdown {
  background: #fff8bf;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
          box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
          -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px; 
  display: none;
  font-size: 14px;
  left: 5px;
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 4.35em;
  width: 200px;
  z-index: 2;
}
.sb-dropdown a {
  color: #6e7279 !important;
  display: block;
  padding: 3px;
  padding-bottom:   5px;
    font-size:    14px;
  font-weight:    bold;
  margin-top:   5px;
  margin-bottom:    5px;
  text-decoration: none;
}
.sb-dropdown a:hover,
.sb-dropdown .selected {
  background: #fff;
            -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px; 
  color:        #6e7279 !important;
}